<!DOCTYPE html>
<html>
  <head>
    <title>Doogle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/nav_bar' %>

  <% flash.each do |status, message| %>
    <div class="alert alert-<%= status %>"><%= message %></div>
  <% end %>

  <h1>Doogle</h1>
  <%= yield %>
  </body>
</html>
